<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/createPassword.css}">
    <title>Configuration</title>
</head>
<body>
     <header>
        <p>Pet-Lover</p>
    </header>

    <main>
        <div class="title-container">
        <h2>Configuración de contraseña</h2>
    </div>

        <form th:action="@{/petlover/password/create}" class="password-form" method="post">
            <input type="hidden" name="duenioId" th:value="${duenioId}" />
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="usuario"
                    th:value="${usuario}" readonly />
            </div>

            <div class="form-group">
                <label for="password">Crear contraseña</label>
                <input type="password" id="password" name="password" required />
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required />
            </div>

            <div class="btn-container">
                <button type="submit">Guardar contraseña</button>
            </div>

            <div th:if="${error}" class="alert alert-success">
                <p th:text="${error}"></p>
            </div>

        </form>
    </main>
</body>
</html>